@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <div id="cuerpo-sup"></div>
    <div id="cuerpo-med"></div>
    <div id="cuerpo-inf">
        <div id="cuerpo-noticias"></div>
        <div id="cuerpo-listas"></div>
    </div>
    <div id="reproductor"></div>
    <input type="checkbox" id="btn-menu">
    <div id="boton" class="btn-menu">
            <label for="btn-menu"> --></label>
        </div>
    <div id="menu-izq">
        
        <nav>
        <a href="#">USUARIO</a>
        <a href="#">PLAYLIST</a>
        <a href="#">CUENTA</a>
        <a href="#">SUSCRIPCIONES</a>
        </nav>
        <label for="btn-menu"> x</label>
    </div>
        

</div>
