@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<<<<<<< HEAD
    <div id="cuerpo-sup"></div>
    <div id="cuerpo-med"></div>
    <div id="cuerpo-inf">
        <div id="cuerpo-noticias"></div>
        <div id="cuerpo-listas"></div>
    </div>
    <div id="reproductor"></div>
    <div id="menu-der"></div>
=======
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
>>>>>>> 5ac570c3d15714e6eb6504795cdd57ffd5fc80a4
</div>
