@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div id="cuerpo-sup"></div>
    <div id="cuerpo-med"></div>
    <div id="cuerpo-inf">
        <div id="cuerpo-noticias"></div>
        <div id="cuerpo-listas"></div>
    </div>
    <div id="reproductor"></div>
    <div id="menu-der"></div>


</div>
