
#menu-der {
  width: 2.8%;
  height: 100%;
  background-color:red;
  position: absolute;
}

#cuerpo-sup {
  width: 100%;
  height: 15%;
  background-color:green;
  position: absolute;
}

#cuerpo-med {
  width: 70%;
  height: 18%;
  margin-left: 4%;
  margin-top:10%;
  background-color:blue;
  position: absolute;
}

#cuerpo-inf {
  width: 70%;
  height: 57%;
  margin-left: 4%;
  margin-top:20%;
  background-color:pink;
  position: absolute;
}

#reproductor{
  width: 24%;
  height: 78%;
  margin-top:10%;
  margin-left: 75%;
  background-color:black;
  position: absolute;
}

#cuerpo-noticias{
  background-color:yellowgreen;
  width: 30%;
  height:100%;
  margin-left: 70%;
  position: absolute;
}

#cuerpo-listas{
  background-color:red;
  width: 70%;
  height:100%;
  position: absolute;
}

